{
  "name": "vulkan-api-v{{ VK_VERSION | safe }}",
  "version": "{{ VULKANAPI_VERSION | safe }}",
  "sdkPath": "{{ SDK_PATH | safe }}",
  "gypfile": true,
  "scripts": {},
  "devDependencies": {},
  "dependencies": {}
}
